<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSLClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SSLServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SSLXcodeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>certificateTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>clientBasic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>clientHandshake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>clientRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>serverBasic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>serverHandshake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>serverRecord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4211400C1C3050B800122E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42420B3F1C31A9D0002C0585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>427D71FF1C2B062400A859B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AEDA7D1C3455F2009DF6FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AEDA881C3455FC009DF6FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C5DF541C2B11620038A3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C5DF5F1C2B11870038A3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42C5DF7F1C2BEE7A0038A3D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DF50121C32946E00DD7E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F9F80F1C2AE4AB00270B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F9F82D1C2AEA8600270B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F9F8381C2AEAA100270B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
